<div class="container" >
    <div class="jumbotron">
        <h1 class="display-4">What classes are you teaching?</h1>
        <p>** Academy has world-class, standards-aligned content for K-14 Math, Science, History, AP®, SAT®, and more.</p>
        <hr class="my-4">
    </div>
    <div class="w-75 m-auto">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search for courses" aria-label="Search">
        </form>
        <div class="row">
            <div class=" col-md-6 col-12 mt-4 ">
                <div class="jumbotron">
                    <h5 class="fs-4">What classes are you teaching?</h5>
                    <hr class="my-4 w-75">
                    <a routerLink="/First" routerLinkActive="activ" class=" fs-4   ">First Grade of Middle School</a><br><br>
                    <a routerLink="/Second" routerLinkActive="activ" class=" fs-4 "  >Second Grade of Middle School</a><br><br>
                    <a routerLink="/Third" routerLinkActive="activ" class=" fs-4 "  >Third Grade of Middle School</a>
                </div>
            </div>
            <div class=" col-md-5 col-12 mt-4 ">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
