<div id="header-dropdown" class="_11l3t46e"><ul class="_njywdf2" data-test-id="learn-menu">
    <li><div class="_1b2zmqj" data-test-learn-menu-domain="math">
        <ul>
            <li data-navigable-index="0"><a tabindex="-1" class="_hsazh44" href="/math/k-8-grades">
                <span class="_1uk4ltt6">Math: Pre-K - 8th grade</span>
            </a></li></ul>
            <ul class="_121xeo4">
                <li data-navigable-index="1">
                    <a tabindex="-1" aria-label="Pre-K through grade 2 (Khan Kids)" href="/kids" class="_4crv9hk"><span class="_u1utz4z">Pre-K through grade 2 (Khan Kids)</span>
                    </a></li>
                    <li data-navigable-index="2">
                        <a tabindex="-1" aria-label="Early math review" href="/math/early-math" class="_4crv9hk">
                            <span class="_u1utz4z">Early math review</span>
                        </a></li><li data-navigable-index="3">
                            <a tabindex="-1" aria-label="2nd grade" class="_4crv9hk" href="/math/cc-2nd-grade-math">
                                <span class="_u1utz4z">2nd grade</span></a></li><li data-navigable-index="4">
                                    <a tabindex="-1" aria-label="3rd grade" class="_4crv9hk" href="/math/cc-third-grade-math">
                                        <span class="_u1utz4z">3rd grade</span></a></li>
                                        <li data-navigable-index="5"><a tabindex="-1" aria-label="4th grade" class="_4crv9hk" href="/math/cc-fourth-grade-math"><span class="_u1utz4z">4th grade</span></a></li><li data-navigable-index="6"><a tabindex="-1" aria-label="5th grade" class="_4crv9hk" href="/math/cc-fifth-grade-math"><span class="_u1utz4z">5th grade</span></a></li><li data-navigable-index="7"><a tabindex="-1" aria-label="6th grade" class="_4crv9hk" href="/math/cc-sixth-grade-math">
                                            <span class="_u1utz4z">6th grade</span></a></li>
                                            <li data-navigable-index="8"><a tabindex="-1" aria-label="7th grade" class="_4crv9hk" href="/math/cc-seventh-grade-math"><span class="_u1utz4z">7th grade</span></a></li>
                                            <li data-navigable-index="9"><a tabindex="-1" aria-label="8th grade" class="_4crv9hk" href="/math/cc-eighth-grade-math"><span class="_u1utz4z">8th grade</span></a></li>
                                        </ul></div>