
               
                <div id="topic" data-slug="table-of-contents" class="_nypyycw"><div data-slug="x2f8bb11595b61c86:foundation-algebra" tabindex="-1">

                
                <div >
                    
                        <img src="https://cdn.kastatic.org/genfiles/topic-icons/icons/pre_algebra.png-15f261-128c.png"  aria-hidden="true" class="rounded-circle me-4" >
                   
                  
                            <p >hello world </p>

                    

                            <h2 >Unit :nf Unit</h2>
                        
                        </div>
                    
                        <hr>
                        
                     
                       
                 
                        
                        


                          
                           
                            
                                
                                <div id="link">
                                    <span >
                                        <a data-test-id="lesson-link" aria-label="Overview and history of algebra" title="Overview and history of algebra"  href="/math/algebra/x2f8bb11595b61c86:foundation-algebra/x2f8bb11595b61c86:algebra-overview-history/v/origins-of-algebra">Overview and history of algebra</a></span>
                                        <br>
                                        <span ><a data-test-id="lesson-link" aria-label="Introduction to variables" title="Introduction to variables"  href="/math/algebra/x2f8bb11595b61c86:foundation-algebra/x2f8bb11595b61c86:intro-variables/v/what-is-a-variable">Introduction to variables</a></span>
                                        <br>
                                        <span ><a data-test-id="lesson-link" aria-label="Substitution and evaluating expressions" title="Substitution and evaluating expressions" class="_dwmetq" href="/math/algebra/x2f8bb11595b61c86:foundation-algebra/x2f8bb11595b61c86:substitute-evaluate-expression/v/evaluating-expressions-in-two-variables">Substitution and evaluating expressions</a></span>
                                    </div>
                                       </div>
                                