<header>
    <div class="header-content">
        <img src="assets/images/Arabic.jpeg" alt="Circle Image">
        <h1>اللغة العربية </h1>
        <p>مصر،الصف الاول الاعدادي </p>
    </div>
</header>

<div class="container">
    <div class="box" *ngFor="let item of items">
        <div class="box-header">
            <img [src]="item.photo" [alt]="item.alt">
            <h2>{{ item.description }}</h2>
        </div>
        <div class="box-body">
            <p style="text-align: center;">أسم الجروب :لغة عربية 1</p>
            <p style="text-align: center">عدد الطلبة في الجروب 20<br>
                تاريخ انشاء الجروب :20/2/2024<br>
                ميعاد انتهاء الجروب :25/5/2024
            </p>
            <button class="button1"[class.clicked]="clicked"
            (click)="toggleClicked()">{{ item.button1 }}</button>
           <button class="button2"[class.clicked]="clicked"
           (click)="toggleClicked()">{{ item.button2 }}</button>
        </div>
    </div>

    <!-- Repeat the box structure for the second box -->
    <div class="box" *ngFor="let item of items">
        <div class="box-header">
            <img [src]="item.photo" [alt]="item.alt">
            <h2>{{ item.description }}</h2>
        </div>
        <div class="box-body">
            <p style="text-align: center;">أسم الجروب :لغة عربية 1</p>
            <p style="text-align: center">عدد الطلبة في الجروب 20<br>
                تاريخ انشاء الجروب :20/2/2024<br>
                ميعاد انتهاء الجروب :25/5/2024
            </p>
            <button class="button1"[class.clicked]="clicked"
            (click)="toggleClicked()">{{ item.button1 }}</button>
           <button class="button2"[class.clicked]="clicked"
           (click)="toggleClicked()">{{ item.button2 }}</button>
        </div>


        
    </div>
    <div class="box" *ngFor="let item of items">
        <div class="box-header">
            <img [src]="item.photo" [alt]="item.alt">
            <h2>{{ item.description }}</h2>
        </div>
        <div class="box-body">
            <p style="text-align: center;">أسم الجروب :لغة عربية 1</p>
            <p style="text-align: center">عدد الطلبة في الجروب 20<br>
                تاريخ انشاء الجروب :20/2/2024<br>
                ميعاد انتهاء الجروب :25/5/2024
            </p>
            <button class="button1"[class.clicked]="clicked"
         (click)="toggleClicked()">{{ item.button1 }}</button>
        <button class="button2"[class.clicked]="clicked"
        (click)="toggleClicked()">{{ item.button2 }}</button>
        </div>
        
</div>
<div class="box" *ngFor="let item of items">
    <div class="box-header">
        <img [src]="item.photo" [alt]="item.alt">
        <h2>{{ item.description }}</h2>
    </div>
    <div class="box-body">
        <p style="text-align: center;">أسم الجروب :لغة عربية 1</p>
        <p style="text-align: center">عدد الطلبة في الجروب 20<br>
            تاريخ انشاء الجروب :20/2/2024<br>
            ميعاد انتهاء الجروب :25/5/2024
        </p>
        <button class="button1"[class.clicked]="clicked"
         (click)="toggleClicked()">{{ item.button1 }}</button>
        <button class="button2"[class.clicked]="clicked"
        (click)="toggleClicked()">{{ item.button2 }}</button>
    </div>
    
</div>
        </div>

