.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

body {
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
}

table {
  width: 90%; 
  border-collapse: collapse;
  border: 2px solid #ddd; 
  border-radius: 12px;
  overflow: hidden;
  background-color: #80bdff;
  font-family: Arial, sans-serif; 
}

th, td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: beige;
  font-weight: bold;
  font-size: 18px; 
  height: 100px;
  vertical-align: middle;
}

td {
  font-size: 16px; 
  border: 2px solid lightblue;
}

.btn {
  border-radius: 20px;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-group {
  margin-bottom: 20px;
}

#groupSelect {
  width: 100%;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #fff;
  color: #007bff;
  font-size: 16px;
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* Remove default arrow for webkit browsers */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%23007bff"><path d="M10 12L5 7h10z"/></svg>'); /* Add custom arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.option {
  padding: 10px;
  background-color: #fff;
  color: #007bff;
  font-size: 16px;
}

.option:hover {
  background-color: #007bff;
  color: #fff;
}

.option:checked {
  background-color: #007bff;
  color: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.top-section {
  margin-bottom: 20px;
}

.btn-add-exam {
  margin-bottom: 10px;
  background-color: #80bdff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add-exam p {
  margin-bottom: 5px;
}

.btn-add-exam:hover {
  background-color: #0056b3;
}

.form-group {
  margin-bottom: 20px;
}

#groupSelect {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #495057;
  font-size: 16px;
}