



<!-- <app-home2></app-home2> 
<app-teacher-dash-board></app-teacher-dash-board>
 <app-footer></app-footer>  -->
<!-- <app-login></app-login> -->



<app-home2></app-home2>
<br>
<br>

<!--<app-grad></app-grad>-->


<br>
<br>



<!-- <app-main-u></app-main-u>
<app-main></app-main>
<app-units></app-units>
<br>
<br>
<app-profheader></app-profheader>
<app-profsidebar></app-profsidebar>
<app-profmain></app-profmain>
<br>
<br> -->

<!--<app-courseselected></app-courseselected>

<br>
<app-exam-page></app-exam-page>
<br>
-->
<br>
<router-outlet></router-outlet>

<app-footer></app-footer>
