<!-- <app-courses></app-courses> -->
   <!-- <app-instructordashboard></app-instructordashboard>    -->
   <app-exam></app-exam>





<!-- <app-instructorchoose> </app-instructorchoose>  -->
<!-- <app-exam></app-exam> -->
<!-- <app-subject></app-subject> -->




<!-- <app-home2></app-home2> 
<app-teacher-dash-board></app-teacher-dash-board>
 <app-footer></app-footer>  -->
<!-- <app-login></app-login> -->



<app-home2></app-home2>
<br>
<br>

<!--<app-grad></app-grad>-->


<br>
<br>



<!-- <app-main-u></app-main-u>
<app-main></app-main>
<app-units></app-units>
<br>
<br>
<app-profheader></app-profheader>
<app-profsidebar></app-profsidebar>
<app-profmain></app-profmain>
<br>
<br> -->
<app-send></app-send>

<!--<app-courseselected></app-courseselected>

<br>
<app-exam-page></app-exam-page>
<br>
-->
<br>
<!--<a routerLink="/instructordataheader"  class="btn btn-primary p-2 ms-4"  >go to instructor data</a>-->
<br>
<!--<app-instructor-date-header></app-instructor-date-header>-->
<br>
<!--<a routerLink="/exam"  class="btn btn-primary p-2 ms-4"  >go to exam page</a>-->
<br>
<a routerLink="/corseselected"  class="btn btn-primary p-2 ms-4"  >go to course selected</a>
<br>
<router-outlet></router-outlet>

<app-footer></app-footer>


<!--<app-terms-and-advices></app-terms-and-advices>-->

