<div class="card mb-3" >
    <div class="row g-0">
        <div class="col-2 col-md-2 col-lg-1">
            <img src="assets\images\early_math.png" style="width: 80px;" class="img-fluid mt-4  rounded-start m-1 " alt="...">
        </div>
        <div class="col-8 col-md-8 col-lg-8">
            <div class="card-body ">
            <strong class="card-title">Course Name: </strong><span>{{courseName}}ddd</span><br>
            <strong class="card-title">Course Grad: </strong><span>{{courseGrad}}ddd</span><br>
            <strong class="card-title">Course Supject: </strong><span>{{courseSupject}}ddd</span><br>
            <strong class="card-title">Students: </strong><span style="color: red;" >{{courseStudents}} students</span>
            </div>
        </div>
        <button type="button" class="btn btn-primary col-2 m-auto col-md-2 col-lg-2 ">Primary</button>
    </div>
</div>