<div id="profheader" class="user-info-all">
    
            <div class="user-avatar-background ">
                <img src="/assets/images/empower_teachers_icon.png" class="avatar-pic ms-4 me-4" alt="Blobby avatar. Click to change your avatar.">
                   
                    <h1 >student name</h1>
                    </div>
                    <div class="ms-4 "></div>
                    <div class="user-card-edit-menu pure-hidden-xs">
                        <button type="button" role="button" aria-disabled="false" >
                            <span >Edit Profile</span>
                        </button>
                    </div></div>
                   
                                    
                                          
